body {
    background-color: #a29b9b;
    color: #535353;
}

.grid-container {
    background-color: #ffffff;
    color: #535353;
}

h2 {
    color: #154d61;
}

h5 {
    color: #a8403c;
}

p {
    color: #535353;
}

hr {
    color: #000000;
}